* {
  margin: 0;
  padding: 0
}

.market-card {
  margin-top: 50px!important;
  width: 500px!important;
  text-align: center;
}

.ui.card img {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}

.ui.teal.button {
  margin-left: 50%
}